<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-PQ42KXL');</script>
        <!-- End Google Tag Manager -->
        <meta charset="utf-8">

        <!-- Meta viewport tag-->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- SEO Meta Tags-->
        <meta name="description" content="JobCore Talent - Hospitality Job Marketplace">
        <meta name="keywords" content="jobs, employee, time tracking, scheduling, hospitality, time tracking, get hired, staffing, get hired, mobile app">
        <meta name="author" content="Webinning Ltd.">

        <!-- Page title-->
        <title>{% if title %}{{ title }} | {% endif %}JobCore Talent - Hospitality Job Marketplace</title>

        {% include "partials/_favicons.njk" %}

        <!-- Theme Stylesheets -->
        {% if environment == 'production' %}
            <link href="assets/css/theme.min.css" rel="stylesheet">
        {% else %}
            <link href="assets/css/theme.css" rel="stylesheet">
        {% endif %}

        {% if environment == 'production' %}
            {% include "partials/_gtag.njk" %}
        {% endif %}
    </head> 
    
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PQ42KXL"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        {# {% include "partials/_preloader.njk" %} #}
        {% include "layouts/_header.njk" %}

        <!-- Main content -->
        <main>
            {% block content %} {% endblock content %}
        </main>

        {% include "layouts/_footer.njk" %}
        {% include "partials/_photoswipe.njk" %}

        {% if environment == 'production' %}
            <!-- Core Javascripts -->
            <script src="assets/js/theme.core.min.js"></script>

            <!-- Theme Javascripts -->
            <script src="assets/js/theme.min.js"></script>
        {% else %}
            <!-- Core Javascripts -->
            <script src="assets/js/theme.core.js"></script>

            <!-- Theme Javascripts -->
            <script src="assets/js/theme.js"></script>
        {% endif %}
    </body>
</html>